@charset "utf-8";
.hideBackface {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.box-sizing {
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.centerY {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.centerX {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.centerXY {
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.clearAnimation {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.blink {
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
.pulse {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes revealLetter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes revealLetter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes revealLetter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes revealLetterBlur {
  from {
    opacity: 0;
    -webkit-filter: blur(10px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0px);
  }
}
@-moz-keyframes revealLetterBlur {
  from {
    opacity: 0;
    -moz-filter: blur(10px);
  }
  to {
    opacity: 1;
    -moz-filter: blur(0px);
  }
}
@keyframes revealLetterBlur {
  from {
    opacity: 0;
    -webkit-filter: blur(10px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0px);
  }
}
@keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: .2;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: .2;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: .2;
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .9;
    bottom: 5vh;
  }
  100% {
    opacity: .2;
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .9;
    bottom: 5vh;
  }
  100% {
    opacity: .2;
  }
}
keyframes bounce 0% {
  opacity: .2;
}
keyframes bounce 50% {
  opacity: .9;
  bottom: 5vh;
}
keyframes bounce 100% {
  opacity: .2;
}
/**********       EASING       **********/
/**********       GRID       **********/
/* CSS Document */
/**********       BASE        **********/
html {
  box-sizing: border-box;
}
html a {
  color: #271325;
  text-decoration: none;
  font-size: 1em;
}
html a:hover {
  color: #ef4144;
}
html a:focus {
  outline: thin dotted;
}
html a:hover,
html a:active {
  outline: 0;
  color: #ef4144;
}
body {
  margin: 0;
  background: url(../../images/bg.png);
  color: #271325;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  font-weight: 600;
}
.touch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* ===== Primary Styles ========================================================
   Author: Nick Jones / The Experiment
   ========================================================================== */
::selection {
  background: #fff0ba;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}
.h1 {
  font-size: 18.58vw;
  line-height: 1;
  letter-spacing: 0;
}
.h2 {
  font-size: 4.8vw;
}
.h3 {
  font-size: 3.5vw;
}
.h4 {
  font-size: 4vw;
}
.h5 {
  font-size: 3vw;
}
@media screen and (min-width: 1000px) {
  .h1 {
    font-size: 10.7vw;
    line-height: 10vw;
    letter-spacing: 0;
  }
  .h2 {
    font-size: 2vw;
  }
  .h3 {
    font-size: 1.75vw;
  }
  .h4 {
    font-size: 1.25vw;
  }
  .h5 {
    font-size: 1vw;
  }
}
.red {
  color: #ef4144;
}
.teal {
  color: #00bab2;
}
.dark {
  color: #271325;
}
.hr {
  width: 3vw;
  border-bottom: 2px solid;
  position: relative;
}
.Button {
  position: relative;
  display: inline-block;
  color: #000;
  background: #dda;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  transition-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.Button img {
  position: relative;
  width: 10px;
  top: -1px;
  margin: 0 0px 0 2px;
}
.Button:hover {
  background: #fff;
}
.Label {
  font-size: 3vw;
  line-height: 5vw;
  letter-spacing: .1vw;
  border-bottom: 1px solid;
  width: 20vw;
  float: left;
  margin-right: 4vw;
}
@media screen and (min-width: 1000px) {
  .Label {
    font-size: 1vw;
    line-height: 1.875vw;
    width: 10vw;
    margin-right: 2vw;
  }
}
.Number {
  color: #ef4144;
  position: relative;
  display: inline-block;
  width: 10vw;
}
@media screen and (min-width: 1000px) {
  .Number {
    width: 3.125vw;
  }
}
.Modules {
  margin-top: 80px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.Modules .Module {
  position: relative;
  width: 100%;
  display: inline-block;
}
.Modules .Module .Title {
  position: relative;
  line-height: 48px;
  border-top: 8px solid #ef4144;
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;
}
.Modules .Module .Text {
  width: 72%;
}
.Modules .Module .Purpose,
.Modules .Module .Benefit {
  position: relative;
  color: #ef4144;
  display: inline-block;
  padding: 2.5vw 0;
}
.Modules .Module .Benefit {
  color: #271325;
}
.Modules .Module .Graphical {
  position: relative;
  display: inline-block;
  top: 0;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 64px;
}
.Modules .Module .Graphical img {
  width: 100%;
}
.Modules .Module:nth-of-type(1n) .Graphical {
  background: #ef4144;
}
.Modules .Module:nth-of-type(2n) .Graphical {
  background: #271325;
}
.Modules .Module:nth-of-type(3n) .Graphical {
  background: #00bab2;
}
@media (min-width: 1000px) {
  .Modules {
    width: 75vw;
  }
  .Modules .Module .Textual {
    width: 50vw;
    float: left;
  }
  .Modules .Module .Graphical {
    width: 25vw;
    float: left;
    margin-top: 0;
    margin-bottom: -1px;
  }
  .Modules .Module .Title {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 3.7vw;
    border-top: 0.5vw solid #ef4144;
  }
  .Modules .Module .Purpose {
    margin-top: 32px;
  }
  .Modules .Module .Purpose,
  .Modules .Module .Benefit {
    padding: 2.5vw 3.1875vw;
  }
  .Modules .Module .Text {
    width: 30vw;
  }
}
.Purpose,
.Benefit {
  padding: 2.5vw 3.125vw;
}
.Purpose .text,
.Benefit .text {
  float: left;
  position: relative;
}
section {
  position: relative;
  width: 100%;
  padding: 6.25vw;
  border-right: 1px solid #fedfab;
}
section:nth-of-type(1) {
  background: url(../../images/bg.png);
}
section:nth-of-type(1) .Logo {
  position: relative;
  margin-right: 2.5vw;
  width: 2.6vw;
  min-width: 25px;
  top: -1px;
}
section:nth-of-type(1) .Team {
  position: relative;
  top: 3px;
  letter-spacing: 0;
  margin-top: 0px;
}
@media (min-width: 1000px) {
  section {
    position: absolute;
    padding: 2.5vw;
  }
  section:nth-of-type(1) {
    width: 25%;
    position: fixed;
  }
  section:nth-of-type(1) .Logo {
    float: left;
  }
  section:nth-of-type(1) .Team {
    line-height: 1.25vw;
  }
  section:nth-of-type(2) {
    width: 75%;
    left: 25%;
    padding: 1.25vw 0 0;
  }
}
.Header {
  position: relative;
  width: 100%;
}
.Header .Title-main {
  position: relative;
  top: -0.1vw;
}
.Header .Title-main #The {
  position: relative;
  left: -0.24vw;
}
.Header .Title-main #Composer {
  position: relative;
  left: -0.41vw;
}
.Header .Purpose {
  background: #ef4144;
  color: #fff0ba;
  margin-top: 16px;
  padding: 8vw 9.375vw;
  display: inline-block;
}
.Header .Purpose .Label {
  margin-bottom: 4vw;
}
.Header .Purpose .Text {
  width: 100%;
  font-size: 8vw;
}
.Header .Benefit {
  padding-left: 0;
  padding-right: 0;
  margin-top: 16px;
}
.Header .Benefit .Text {
  width: 70%;
}
@media screen and (min-width: 1000px) {
  .Header {
    position: relative;
    width: 50vw;
  }
  .Header .Title-main {
    position: relative;
    top: -0.1vw;
  }
  .Header .Title-main #The {
    position: relative;
    left: -0.24vw;
  }
  .Header .Title-main #Composer {
    position: relative;
    left: -0.41vw;
  }
  .Header .Purpose {
    margin-top: 2vw;
    height: auto;
    width: 100%;
    padding: 2.5vw 3.125vw;
  }
  .Header .Purpose .Label {
    top: .5vw;
    position: relative;
  }
  .Header .Purpose .Text {
    width: 25vw;
    font-size: 2.5vw;
  }
  .Header .Benefit {
    position: absolute;
    width: 25vw;
    left: 100%;
    bottom: 0;
    padding: 32px 2.5vw;
  }
  .Header .Benefit .Text {
    width: 100%;
    font-size: 1.875vw;
  }
  .Header .Benefit .Label {
    margin-bottom: 8px;
    width: 100%;
  }
}
.Menu {
  width: 100%;
  margin-top: 32px;
}
.Menu .Menu-item .Number {
  color: #ef4144;
  position: relative;
  display: inline-block;
  width: 10vw;
}
@media screen and (min-width: 1000px) {
  .Menu {
    margin-top: 6.9vw;
  }
  .Menu .Menu-item {
    line-height: 1.642;
  }
  .Menu .Menu-item .Number {
    color: #271325;
    position: relative;
    display: inline-block;
    width: 5.0625vw;
  }
  .Menu .Menu-item.active .Number {
    color: #ef4144;
  }
}
@media (max-width: 800px) {
  padding: 0% 2%;
}
